In [3]:
#task1
class Student:

    ID = 0

    def __init__(self, name, department, age, cgpa):
        self.name = name
        self.department = department
        self.age = age
        self.cgpa = cgpa
        Student.ID += 1

    def showDetails(self):
        print(f"ID: {Student.ID}")
        print(f"Name: {self.name}")
        print(f"Department: {self.department}")
        print(f"Age: {self.age}")
        print(f"CGPA: {self.cgpa}")

    @classmethod
    def from_String(cls, str_info):
        name, department, age, cgpa = str_info.split("-")
        return cls(name, department, age, cgpa)


s1 = Student("Samin", "CSE", 21, 3.91)
s1.showDetails()
print("-----------------------")
s2 = Student("Fahim", "ECE", 21, 3.85)
s2.showDetails()
print("-----------------------")
s3 = Student("Tahura", "EEE", 22, 3.01)
s3.showDetails()
print("-----------------------")
s4 = Student.from_String("Sumaiya-BBA-23-3.96")
s4.showDetails()

ID: 1
Name: Samin
Department: CSE
Age: 21
CGPA: 3.91
-----------------------
ID: 2
Name: Fahim
Department: ECE
Age: 21
CGPA: 3.85
-----------------------
ID: 3
Name: Tahura
Department: EEE
Age: 22
CGPA: 3.01
-----------------------
ID: 4
Name: Sumaiya
Department: BBA
Age: 23
CGPA: 3.96

subtask 5:Changing the class variable value will also change all the instance value that inherited the same variable from the class
But changing a instance variable will only change the varialbe value inside of that specific instance.

 subtask 6:Instance methods cannot be accessed without the instance of that class, but class methods don't need a instance to be used.

In [29]:
#task2
class Passenger:

    count = 0

    def __init__(self, name):
        self.name = name
        Passenger.count += 1

    def set_bag_weight(self, weight):
        self.weight = weight

        if weight < 20:
            self.fare = 450

        elif weight >= 21 and weight <= 50:
            self.fare = 500

        else:
            self.fare = 550

    def printDetail(self):
        print(f"Name: {self.name}")
        print(f"Bus Fare: {self.fare} taka")



print("Total Passenger:", Passenger.count)
p1 = Passenger("Jack")
p1.set_bag_weight(90)
p2 = Passenger("Carol")
p2.set_bag_weight(10)
p3 = Passenger("Mike")
p3.set_bag_weight(25)
print("=========================")
p1.printDetail()
print("=========================")
p2.printDetail()
print("=========================")
p3.printDetail()
print("=========================")
print("Total Passenger:", Passenger.count)

Total Passenger: 0
=========================
Name: Jack
Bus Fare: 550 taka
=========================
Name: Carol
Bus Fare: 450 taka
=========================
Name: Mike
Bus Fare: 500 taka
=========================
Total Passenger: 3

In [30]:
#task3
class Travel:

    count = 0

    def __init__(self, source, destination, time=1):
        self.source = source
        self.destination = destination
        self.time = time
        Travel.count += 1

    def set_source(self, source):
        self.source = source

    def set_destination(self, destination):
        self.destination = destination

    def set_time(self, time):
        self.time = time

    def display_travel_info(self):
        info_str = f"Source: {self.source}\nDestination: {self.destination}\nFlight Time: {self.time}:00"
        return info_str



print("No. of Traveller =", Travel.count)
print("=======================")
t1 = Travel("Dhaka","India")
print(t1.display_travel_info())
print("=======================")
t2 = Travel("Kuala Lampur","Dhaka")
t2.set_time(23)
print(t2.display_travel_info())
print("=======================")
t3 = Travel("Dhaka","New_Zealand")
t3.set_time(15)
t3.set_destination("Germany")
print(t3.display_travel_info())
print("=======================")
t4 = Travel("Dhaka","India")
t4.set_time(9)
t4.set_source("Malaysia")
t4.set_destination("Canada")
print(t4.display_travel_info())
print("=======================")
print("No. of Traveller =", Travel.count)

No. of Traveller = 0
=======================
Source: Dhaka
Destination: India
Flight Time: 1:00
=======================
Source: Kuala Lampur
Destination: Dhaka
Flight Time: 23:00
=======================
Source: Dhaka
Destination: Germany
Flight Time: 15:00
=======================
Source: Malaysia
Destination: Canada
Flight Time: 9:00
=======================
No. of Traveller = 4

In [31]:
#task4

class NikeBangladesh:

    branches_opened = []
    stock = {'Air Jordan': 0, 'Cortez': 0, 'Zoom Kobe': 0}
    sold = 0


    def __init__(self,outlet):
        self.outlet = outlet
        NikeBangladesh.branches_opened.append(self.outlet)


    def details(self):
        print(f'''Nike {self.outlet} outlet:
Products Currently Stocked:
{NikeBangladesh.stock}
sold: {NikeBangladesh.sold}''')


    def restockProducts(self,products):
        for x,y in products.items():
            NikeBangladesh.stock[x] += y


    def productSold(self,sold):
         for x,y in sold.items():
            NikeBangladesh.stock[x] -= y
            NikeBangladesh.sold += y


    @classmethod
    def status(cls):
        print(f'''Nike Bangladesh Status:
Branches Opened: {cls.branches_opened}
Currently Stocked
{cls.stock}
Sold: {cls.sold}''')



print("xxxxxxxxxxxxxx1xxxxxxxxxxxxxxxx")
NikeBangladesh.status()
dhaka = NikeBangladesh("Dhaka Banani")
chittagong = NikeBangladesh("Chittagong GEC")
print("xxxxxxxxxxxxxx2xxxxxxxxxxxxxxxx")
dhaka.details()
print("xxxxxxxxxxxxxx3xxxxxxxxxxxxxxxx")
chittagong.details()
print("xxxxxxxxxxxxxx4xxxxxxxxxxxxxxxx")
dhaka.restockProducts(
{"Air Jordan":1200,"Cortez":200,"Zoom Kobe":200})
chittagong.restockProducts(
{"Air Jordan":1000,"Cortez":250,"Zoom Kobe":100})
print("xxxxxxxxxxxxxx5xxxxxxxxxxxxxxxx")
NikeBangladesh.status()
print("xxxxxxxxxxxxxx6xxxxxxxxxxxxxxxx")
dhaka.productSold({"Air Jordan":760,"Cortez":90})
chittagong.productSold({"Air Jordan":520,"Zoom Kobe":70})
print("xxxxxxxxxxxxxx7xxxxxxxxxxxxxxxx")
NikeBangladesh.status()

xxxxxxxxxxxxxx1xxxxxxxxxxxxxxxx
Nike Bangladesh Status:
Branches Opened: []
Currently Stocked
{'Air Jordan': 0, 'Cortez': 0, 'Zoom Kobe': 0}
Sold: 0
xxxxxxxxxxxxxx2xxxxxxxxxxxxxxxx
Nike Dhaka Banani outlet:
Products Currently Stocked:
{'Air Jordan': 0, 'Cortez': 0, 'Zoom Kobe': 0}
sold: 0
xxxxxxxxxxxxxx3xxxxxxxxxxxxxxxx
Nike Chittagong GEC outlet:
Products Currently Stocked:
{'Air Jordan': 0, 'Cortez': 0, 'Zoom Kobe': 0}
sold: 0
xxxxxxxxxxxxxx4xxxxxxxxxxxxxxxx
xxxxxxxxxxxxxx5xxxxxxxxxxxxxxxx
Nike Bangladesh Status:
Branches Opened: ['Dhaka Banani', 'Chittagong GEC']
Currently Stocked
{'Air Jordan': 2200, 'Cortez': 450, 'Zoom Kobe': 300}
Sold: 0
xxxxxxxxxxxxxx6xxxxxxxxxxxxxxxx
xxxxxxxxxxxxxx7xxxxxxxxxxxxxxxx
Nike Bangladesh Status:
Branches Opened: ['Dhaka Banani', 'Chittagong GEC']
Currently Stocked
{'Air Jordan': 920, 'Cortez': 360, 'Zoom Kobe': 230}
Sold: 1440

In [32]:
#task5
class Student:

    total_student = 0
    brac_student = 0
    other_student = 0

    def __init__(self, name, dept, institute="BRAC University"):
        self.name = name
        self.dept = dept
        self.institute = institute

        if institute == "BRAC University":
            Student.brac_student += 1
        else:
            Student.other_student += 1

        Student.total_student += 1

    def individualDetail(self):
        print(f"Name: {self.name}")
        print(f"Department: {self.dept}")
        print(f"Institution: {self.institute}")

    @classmethod
    def printDetails(cls):
        print(f"Total Student(s): {cls.total_student}")
        print(f"BRAC University Student(s): {cls.brac_student}")
        print(f"Other Institution Student(s): {cls.other_student}")

    @classmethod
    def createStudent(cls, name, dept, institute=None):
        if institute == None:
            return cls(name, dept)
        else:
            return cls(name, dept, institute)



Student.printDetails()
print('#########################')

mikasa = Student('Mikasa Ackerman', "CSE")
mikasa.individualDetail()
print('------------------------------------------')
Student.printDetails()

print('========================')

harry = Student.createStudent('Harry Potter', "Defence Against Dark Arts", "Hogwarts School")
harry.individualDetail()
print('-------------------------------------------')
Student.printDetails()

print('=========================')

levi = Student.createStudent("Levi Ackerman", "CSE")
levi.individualDetail()
print('--------------------------------------------')
Student.printDetails()

Total Student(s): 0
BRAC University Student(s): 0
Other Institution Student(s): 0
#########################
Name: Mikasa Ackerman
Department: CSE
Institution: BRAC University
------------------------------------------
Total Student(s): 1
BRAC University Student(s): 1
Other Institution Student(s): 0
========================
Name: Harry Potter
Department: Defence Against Dark Arts
Institution: Hogwarts School
-------------------------------------------
Total Student(s): 2
BRAC University Student(s): 1
Other Institution Student(s): 1
=========================
Name: Levi Ackerman
Department: CSE
Institution: BRAC University
--------------------------------------------
Total Student(s): 3
BRAC University Student(s): 2
Other Institution Student(s): 1

In [33]:
#task 6
class SultansDine:

    total_branch = 0
    total_sell = 0
    branch_info = []

    def __init__(self, branch):
        self.name = branch
        SultansDine.total_branch += 1

    def sellQuantity(self, quantity):

        if quantity < 10:
            self.branch_sell = quantity * 300
        elif quantity < 20:
            self.branch_sell = quantity * 350
        else:
            self.branch_sell = quantity * 400

        SultansDine.total_sell += self.branch_sell

    def branchInformation(self):
        print(f"Branch Name: {self.name}")
        print(f"Branch Sell: {self.branch_sell} Taka")

        SultansDine.branch_info.append(self.name)
        SultansDine.branch_info.append(self.branch_sell)

    @classmethod
    def details(cls):
        print(f"Total Number of branch(s): {cls.total_branch}")
        print(f"Total Sell: {cls.total_sell} Taka")


        for index in range(0, len(SultansDine.branch_info), 2):
            print(
                f"Branch Name: {SultansDine.branch_info[index]}, Branch Sell: {SultansDine.branch_info[index + 1]} Taka"
            )
            print(
                f"Branch consists of total sell's: {(SultansDine.branch_info[index + 1] / SultansDine.total_sell) * 100:.2f}%"
            )



SultansDine.details()
print('########################')
dhanmondi = SultansDine('Dhanmondi')
dhanmondi.sellQuantity(25)
dhanmondi.branchInformation()
print('-----------------------------------------')
SultansDine.details()

print('========================')

baily_road = SultansDine('Baily Road')
baily_road.sellQuantity(15)
baily_road.branchInformation()
print('-----------------------------------------')
SultansDine.details()

print('========================')

gulshan = SultansDine('Gulshan')
gulshan.sellQuantity(9)
gulshan.branchInformation()
print('-----------------------------------------')
SultansDine.details()

Total Number of branch(s): 0
Total Sell: 0 Taka
########################
Branch Name: Dhanmondi
Branch Sell: 10000 Taka
-----------------------------------------
Total Number of branch(s): 1
Total Sell: 10000 Taka
Branch Name: Dhanmondi, Branch Sell: 10000 Taka
Branch consists of total sell's: 100.00%
========================
Branch Name: Baily Road
Branch Sell: 5250 Taka
-----------------------------------------
Total Number of branch(s): 2
Total Sell: 15250 Taka
Branch Name: Dhanmondi, Branch Sell: 10000 Taka
Branch consists of total sell's: 65.57%
Branch Name: Baily Road, Branch Sell: 5250 Taka
Branch consists of total sell's: 34.43%
========================
Branch Name: Gulshan
Branch Sell: 2700 Taka
-----------------------------------------
Total Number of branch(s): 3
Total Sell: 17950 Taka
Branch Name: Dhanmondi, Branch Sell: 10000 Taka
Branch consists of total sell's: 55.71%
Branch Name: Baily Road, Branch Sell: 5250 Taka
Branch consists of total sell's: 29.25%
Branch Name: Gulshan, Branch Sell: 2700 Taka
Branch consists of total sell's: 15.04%