STRING

In [ ]:
#task1

inp =input()
up = 0
low = 0
for i in inp:
    if i.isupper():
        up += 1
    else:
        low += 1

if up > low :
    print(inp.upper())

else:
    print(inp.lower())

HOusE
HOUSE

In [ ]:
# task1

inp =input()
up = 0
low = 0
str1 = ""
for i in inp:
    if 65<= ord(i) <= 90:
        up += 1
    else:
        low += 1

if up > low :
    for i in inp:
        if 97 <= ord(i) <= 122 :
            str1 += chr(ord(i) - 32)
        else:
            str1 += i

print(str1)

HOusE
HOUSE
3
2

In [ ]:
#task2
str = input()
num = 0
wrd = 0
for i in str:
    if "A" <= i <= "Z" or "a" <= i <= "z":
        wrd+= 1
    else:
        num += 1

if num and wrd:
    print("MIXED")
elif num:
    print("NUMBER")
else:
    print("WORD")

jhg231j213
MIXED

In [ ]:
#task3

str = input()
first_upper = 0

last_upper = 0
for i in range(len(str)):
    if "A" <= str[i] <= "Z":
        first_upper += i
        break

for i in range(len(str) - 1, -1, -1):
    if "A" <= str[i] <= "Z":
        last_upper += i
        break

if last_upper - first_upper == 1 :
    print("BLANK")

else:
    print(str[first_upper + 1:last_upper])

coDIng
BLANK

In [ ]:
#task4

str1 = "dean"
str2 = "tom"
new_st =""


for i in str1:
    if i in str2:
        new_st += i

for i in str2:
    if i in str1:
        new_st += i

if new_st:

    print(new_st)

else:
    print("Nothing in common.")

Nothing in common.

In [ ]:
#task5

password = input()

low = False
upp = False
dig = False
spc = False

special = "_ , $ , #, @"

miss_rules = []

for i in password:
    if "A" <= i <= "Z" :
        upp = True
    elif  "a" <= i <= "z":
        low = True
    elif i in special:
        spc = True
    else:
        dig = True


if low == False :
    miss_rules.append("Lowercase missing")


if upp == False :
    miss_rules.append("Uppercase character missing")


if dig == False :
    miss_rules.append("Digit missing")


if spc == False :
    miss_rules.append("Special character missing")

if not miss_rules:
    print("OK")

else:
    for i in miss_rules:
        print(i, end = ", ")

OhMyBR@CU20
OK

LIST

In [ ]:
#task1

inp = []
lst2 =[]
while True:
    x = input()
    if x == "STOP":
        break
    inp.append(int(x))
    if int(x) not in lst2:
        lst2.append(int(x))


for i in lst2:
    print(f"{i} - {inp.count(i)} times")

10
20
20
STOP
10 - 1 times
20 - 2 times

In [ ]:
#lst2
N = int(input())
summation = 0
lst2 = []
for i in range(N):

    inp1 = input().split()
    lst1 = [int(i) for i in inp1]
    if sum(lst1) > summation:
        summation = sum(lst1)
        lst2 = lst1

print(summation)
print(lst2)

4
1 2 3
4 5 6
10 11 12
7 8 9
33
[10, 11, 12]

In [ ]:
#task3

inp1 = input().split()
lst1 = [int(i) for i in inp1]

inp2 = input().split()
lst2 = [int(i) for i in inp2]


print([i*j for i in lst1 for j in lst2])

2 3 6
3 4 5
[6, 8, 10, 9, 12, 15, 18, 24, 30]

In [ ]:

#task4
result = []

user_input = input()
while user_input != "STOP":
    List = [int(num) for num in user_input.split()]

    ref_list = [num for num in range(1, len(List))]
    abs_diff = []

    for i in range(len(List) - 1):
        elem = List[i] - List[i + 1]
        elem = abs(elem)
        abs_diff.append(elem)

    if sorted(ref_list) == sorted(abs_diff):
        result.append("UB Jumper")
    else:
        result.append("Not UB Jumper")

    user_input = input()

for output in result:
    print(output)

1 4 2 3
2 1 4 6 10
1 4 2 -1 6
STOP
UB Jumper
UB Jumper
Not UB Jumper

In [ ]:
#task 5


n, k = map(int, input().split())
participation_counts = list(map(int, input().split()))

teams = 0
for i in range(n):
    if participation_counts[i] <= 5 - k:
        teams += 1

result = teams // 3

print(result)

6 4
0 1 2 3 4 5
0

Dictionary & Tuple

In [6]:
#task1

a=input().split(", ")
b=input().split(", ")
d={}
for i in a:
    p,q=i.split(": ")
    d[p]=int(q)
for i in b:
    x,y=i.split(": ")
    if x not in d:
        d[x]=int(y)
    else:
        d[x]+=int(y)
print (d)
l = []
for i in d:
    if d[i] not in l:
        l.append(d[i])
l=tuple(sorted(l))
print(l)

a: 300, b: 200, d: 400, e: 200
a: 300, b: 200, d: 400, e: 200
{'a': 600, 'b': 400, 'd': 800, 'e': 400}
(400, 600, 800)

In [14]:
#task2

dict1 = {}
while True:
    inp = input()
    if inp == "STOP":
        break

    else:
        if inp not in dict1:
            dict1[inp] = 1
        else:
             dict1[inp] += 1

for key,value in dict1.items():
    print(f"{key} - {value} times")

10
20
20
30
10
50
90
STOP
10 - 2 times
20 - 2 times
30 - 1 times
50 - 1 times
90 - 1 times

In [15]:
#task3
a = input().split(",")
d = {}
for i in a:
    x,y = i.split(":")
    if y not in d:
        d[y] = [x]
    else:
        d[y].append(x)

print(d)

key1 : value1, key2 : value2, key3 : value1
{' value1': ['key1 ', ' key3 '], ' value2': [' key2 ']}

In [26]:
#task4

dct={"1":".,?!:", "2":"ABC", "3":"DEF", "4":"GHI", "5":"JKL", "6":"MNO", "7":"PQRS", "8":"TUV", "9": "WXYZ" , "0":" "}
a=input().upper()
s=""

for i in a:
    for j in d:
        if i in d[j]:
            c=0
            for k in d[j]:
                c+=1
                if i==k:
                    break
            s+=(c*str(j))
print(s)

Hello, World!
4433555555666110966677755531111

In [23]:
#task4
dct={"1":".,?!:", "2":"ABC", "3":"DEF", "4":"GHI", "5":"JKL", "6":"MNO", "7":"PQRS", "8":"TUV", "9": "WXYZ" , "0":" "}
inp=input().upper()
press=""

for i in inp:
    for key, value in dct.items():
        if i in value:
            press += key * (value.index(i) + 1)

print(press)

Hello, World!
4433555555666110966677755531111